<div class="medium-list">
    <div class="list-viewer-wrapper">
      <div class="list-header-title"> post form</div>
      <form [formGroup]="PostForm" (ngSubmit)=" PostForm.valid" >
        <div class="form-container">
          <mat-form-field>
              <input id="title"
                     matInput
                     formControlName="title"
                     [(ngModel)]="post.title"
                     placeholder=" title" />
            </mat-form-field>
            <mat-form-field>
               <input  id="body"
                     matInput
                     formControlName="body"
                     [(ngModel)]="post.body"
                     placeholder="post content"
                     />
              </mat-form-field>
              <button mat-button type="submit"
                    class="mat-raised-button mat-primary"
                    (click)= PostSubmit()
                    [disabled]="!PostForm.valid"
                    mat-dialog-close="yes" >submit</button>
        </div>
      </form>
    </div>
  </div>