<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      *ngIf="authservice.IsLoggedin()"
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-toolbar color="primary">
         <img  height="65"  class="header-toolbar" src="/assets/loyalcraft.png">
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/user/list">Users</a>
        <a mat-list-item routerLink="/posts/list">Posts</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="header-toolbar">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
            <span class="example-fill-remaining-space"></span>
            <div class="button-row">
                <button   mat-flat-button  *ngIf="!authservice.IsLoggedin()" routerLink="/login"  >login</button>
                <button   mat-flat-button   *ngIf="!authservice.IsLoggedin()" routerLink="/signup">Register</button>
                <button mat-flat-button       *ngIf="authservice.IsLoggedin()" (click)="UserLogout()">logout</button>
              </div>
      </mat-toolbar>
      <mat-card >
          <div class="content">
            <router-outlet></router-outlet>
          </div>
      </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
