<div class="medium-list">
    <div class="list-viewer-wrapper">
      <div class="list-header-title">update user form</div>

      <form [formGroup]="UpdateUserForm" (ngSubmit)="UpdateUserForm.valid" >
        <div class="form-container">

          <mat-form-field>
              <input id="name"
                     matInput
                     formControlName="name"
                     [(ngModel)]="user.name"
                     placeholder=" name" />
            </mat-form-field>
            <mat-form-field>
                <input id="username"
                       matInput
                       formControlName="username"
                       [(ngModel)]="user.username"
                       placeholder=" username" />
              </mat-form-field>  <mat-form-field>
                  <input id="email"
                         matInput
                         formControlName="email"
                         [(ngModel)]="user.email"
                         placeholder=" email" />
                </mat-form-field>  <mat-form-field>
                    <input id="phone"
                           matInput
                           formControlName="phone"
                           [(ngModel)]="user.phone"
                           placeholder=" phone number" />
                  </mat-form-field>





            <button mat-button
                    class="mat-raised-button mat-primary"
                    (click)= onUpdateUserSubmit()
                    [disabled]="!UpdateUserForm.valid">update user</button>

        </div>
      </form>
    </div>
  </div>